
body{
    background: url(necesario/corazones.jpg);
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.centrar-div-audio{
    display: flex;
    /*Justify Content y align items*/
    justify-content: center;
    align-items: center;   
}

.audio{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 12px;
}
/*!Seccion de audio*/

audio::-webkit-media-controls-panel{
    background-color: rgba(234, 190, 63, 90%);
}
#panelFotos{
    margin: auto 0 ;
    padding: 0 0;
}

.centrar{
    width: 100%;
}

/*!Trasnformacion de fotos*/

.imagenes-cuadros{
    width: 10%;
    height: 10%;
    margin: 12px;
    border-radius: 20px;
    border: 4px black solid;
    transition-property: width;
    box-shadow: 10px 5px 50px black;
}
.imagenes-cuadros:hover{
    transform: scale(1.8);
    transition: 200ms;
}

/*Formato centralizado*/

.nota{
display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 50px;

}

.nota-fondo{
    border: 10px solid goldenrod;
    border-radius: 37px;
    width: 30%;
    height: 30%;
    background: black;
margin: 0 auto;
padding: 35px;

}

.nota-fondo > p,h3{
color: white;
}

.primer-mensaje{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:black;
    width: 50%;
    margin: 0 auto;
    border-radius: 5em;
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
}

.primer-mensaje > p,h4 {
    color:rgb(255, 55, 55);
}
.firma{
    width: 10vw;
}

@media (200px<=width<=900px) {
    .imagenes-cuadros{
        width: 25vw;
    }

    .firma{
        width: 30vw;
    }
    .nota-fondo{
        width: 60vw;
    }

}

@media (0px<=width<=600px) {
    
}